<mat-card style="width: 400px;">
  <mat-card-header>
    <!-- <div style="overflow: hidden;">
      <img src="assets/img/google-chrome.jpg" alt="logo" style="width: 100%; height: 100px;">
    </div> -->
    <div mat-card-avatar class="image"></div>
    <mat-icon color="accent">star</mat-icon>
    <mat-card-title style="font-weight: bold; color: #9b0d0d;">{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.foodType}} ~ {{card.amount}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{card.distance}} Km ~ {{card.time[0]}}-{{card.time[1]}} min
    </p>
  </mat-card-content>
</mat-card>