<mat-card (click)="goToSearch()" style="cursor: pointer">
  <mat-card-header>
    <div mat-card-avatar class="image"></div>
    <div class="flex-box icons-position">
      <mat-icon color="accent">star</mat-icon>
      <button mat-mini-fab color="primary" (click)="changeState()">
        <mat-icon style="color: white" [@favButton]="currentState"
          >archive</mat-icon
        >
      </button>
    </div>
    <mat-card-title style="font-weight: bold; color: #9b0d0d;">{{
      card.name
    }}</mat-card-title>
    <mat-card-subtitle
      >{{ card.foodType }} ~ {{ card.amount }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ card.distance }} Km ~ {{ card.time[0] }}-{{ card.time[1] }} min</p>
  </mat-card-content>
</mat-card>
