<mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card style="width: 400px;">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Domino's Pizza</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 400px;">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Domino's Pizza</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Domino's Pizza</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Domino's Pizza</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>