<mat-toolbar color="primary" class="toolbar flex-container" cdkDropList (cdkDropListDropped)="drop($event)"
  id="header-list" cdkDropListConnectedTo="grid-list">
  <div class="">
    <p>Bem vindo(a), <b> Usuário</b> Favorites counter <b>{{favorites}}</b></p>
  </div>
</mat-toolbar>
<div class="toolbar-2">
  <div style="text-align: center; 
  margin-left:auto;margin-right:auto;" class="alternate-theme">
    <div>
      <mat-icon svgIcon="home" color="accent"></mat-icon>
      <button mat-flat-button class="button" [routerLink]="['timeline/search']" routerLinkActive="active">Buscar</button>
      <button mat-flat-button class="button" [routerLink]="['timeline/discover']" routerLinkActive="active">Descobrir</button>
      <button mat-flat-button class="button">Pedidos</button>
    </div>
  </div>
</div>
<div style="text-align: center; max-width: 900px; 
margin-left:auto;margin-right:auto; margin-top: 125px">
  <!-- <app-search></app-search> -->
   <!-- [@routeAnimations]="prepareRoute(outlet)" -->
  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>