<mat-card class="timeline-card" style="background-color: #d12121; color: white">
  <mat-card-header>
    <mat-card-title style="padding-left: 80px; font-size: 18px">
      Elias Michalczuk
    </mat-card-title>
  </mat-card-header>
</mat-card>
<mat-tab-group mat-align-tabs="center" style="text-align: center; max-width: 900px; margin-left:auto;margin-right:auto;" color="warn">
  <mat-tab label="Search" icon=""> <app-search></app-search> </mat-tab>
  <mat-tab label="Discover"> Content 2 </mat-tab>
  <mat-tab label="Orders"> Content 3 </mat-tab>
</mat-tab-group>