<div class="main">
  <div
    fxLayout.gt-md="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="10px"
    fxFlex="100"
    fxLayoutAlign="center center"
  >
    <div fxFlex.lt-xl="50" fxFlex.lt-md="100" fxFlex.lt-sm="100">
      <div class="align-left">
        <h1>Louro José - Joinville</h1>
        <p>
          China in Box o maior delivery de comida chinesa entrega pratos feitos
          na hora do seu pedido, na caixinha mais conhecida do Brasil. Pratos
          tradicionais como yakissoba, frango xadrez, rolinho primavera e banana
          caramelada para pedir on-line. Peça agora
        </p>
        <p>Comida Chinesa • 50-60 min • 4.40 km • $$$</p>
      </div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex.lt-md="0" fxFlex.lt-sm="0" fxFlex.lt-xl="22" fxFlex.lt-lg="22">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
